﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" data-ng-app="inkDevTest.availablity">
<head>
    <title>Ink Dev Test</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-responsive.min.css">
    
    <script src="Scripts/angular.min.js" type="text/javascript"></script>
</head>
    <body data-ng-controller="inkDev.availability.controller">
        <div class="row">
            <div class="span6 offset3">
                <h1>Availability Check</h1>
                <p>
                    Origin: {{journeyRequest.Origin}}<br/>
                    Departure Date: {{journeyRequest.DepartureDate}}<br/>
                    Destination: {{journeyRequest.Destination}}<br/>
                    Return Date: {{journeyRequest.ReturnDate}}<br/>
                    <a class="btn btn-large" data-ng-click="getAvailability()">Get Availability</a>
                </p>
            </div>
            <div class="span8 offset2">
                <table class="table table-striped table-hover" data-ng-show="outBound.length > 0">
                    <thead>
                        <th>Departure Station</th>
                        <th>Departure Time</th>
                        <th>Arrival Station</th>
                        <th>Arrival Time</th>
                    </thead>
                    <tbody>
                        <tr data-ng-repeat="outward in outBound">
                            <td>{{outward.DepartureStationName}}</td>
                            <td>{{outward.DepartureTime}}</td>
                            <td>{{outward.ArrivalStationName}}</td>
                            <td>{{outward.ArrivalTime}}</td>
                        </tr>
                    </tbody>
                </table>
                <table class="table table-striped table-hover" data-ng-show="inBound.length > 0">
                    <thead>
                        <th>Departure Station</th>
                        <th>Departure Time</th>
                        <th>Arrival Station</th>
                        <th>Arrival Time</th>
                    </thead>
                    <tbody>
                        <tr data-ng-repeat="inward in inBound">
                            <td>{{inward.DepartureStationName}}</td>
                            <td>{{inward.DepartureTime}}</td>
                            <td>{{inward.ArrivalStationName}}</td>
                            <td>{{inward.ArrivalTime}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
        <script type="text/javascript">
            (function () {
                'use strict';
                var availabilityModule = angular.module('inkDevTest.availablity', []);
                availabilityModule.controller('inkDev.availability.controller', ['$scope', '$http', function ($scope, $http) {
                    var journeyRequest = {
                        DepartureDate: '2013-10-27',
                        ReturnDate: '2015-10-14',
                        Destination: 'Chaing Mai',
                        Origin: 'Peckham'
                    };
                    $scope.journeyRequest = journeyRequest;

                    $scope.getAvailability = function() {
                        $http.post('http://localhost:50101/api/availability', journeyRequest)
                            .success(function(data) {
                                $scope.outBound = data.InboundJourneys;
                                $scope.inBound = data.OutboundJourneys;
                            })
                            .error(function() {
                                alert('Something is wrong . . .');
                            });
                    };
                }]);
            }());
        </script>
    </body>
</html>
